/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .map-stuff {
   display: flex;
 }
 .map-box {
   background-color: white;
   height: calc(100vh - 60px);
   width: 25%;
   position: fixed;
   top: 60px;
   right: 0;
   padding-left: 10px;
   box-sizing: border-box;
 }
 .map {
   height: 100%;
  /*width: 25%;
  height: 90vh;
  float: right;

  top: 60;
  right: 0;
  bottom: 0;
  position: fixed;
  max-height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  right: 0;
  top: 0px;*/
 }
