/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   font-family: 'Montserrat', sans-serif;
 }

 .find-stuff {
   width: 100%;
   display: flex;
   flex-direction: column;
   height: 105px;
 }
 .search-bar-div {
   width: 75%;
   /*height: 100px;*/
   padding: 10px 50px 10px 20px;
   background-color: #DFD9D8;
   border-bottom: 1px solid #C0BCBB;
 }
 .search-bar {
    box-sizing: border-box;
    text-align: left;
    color: #333;
 }

 .search-bar > input {
   font-family: 'Montserrat', sans-serif;
   /*margin-left: 50px;*/
   /*margin: 0 auto;*/
   border: 1px solid grey;
   background-color: white;
   /*width: 500px;*/
   height: 35px;
   /*padding: 1px;*/
   padding: 1px 30px 1px 6px;
   font-size: 16px;
   line-height: 1.42857143;

 }

 .city-input {
   color: #57C6E8;
   width: 24.2%;
   margin-left: 10px;

 }
 .meal-input {
   color: #333;
   width: 35.2%;
   margin-left: 10px;
 }
 .loco-input {
   color: #333;
   width: 36.3%;
   margin-left: 10px;
 }

 .check-row {
   display: flex;
   flex-direction: row;
   margin-bottom: 10px;
   margin-right: -8px;
   /*margin-left: -8px;*/
   margin-left: 10px;
   width: 100%
 }

 .check-field {
   padding: 0 8px;
   border: 1px solid #DFD9D8;
   background-color: #FFF;
   height: 30px;
   margin-right: 7px;
 }

 .check-box {
   border: 1px solid #DFD9D8;
   width: 20px;
   height: 20px;
   margin-top: 6px;
   background-color: #FFF;
 }

 .map-box {
   background-color: white;
   height: calc(100vh - 60px);
   width: 25%;
   position: fixed;
   top: 60px;
   right: 0;
   padding-left: 10px;
   box-sizing: border-box;
 }
 .map {
   height: 100%;
  /*width: 25%;
  height: 90vh;
  float: right;

  top: 60;
  right: 0;
  bottom: 0;
  position: fixed;
  max-height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  right: 0;
  top: 0px;*/
 }
